<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Spring Boot - Maven</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/book.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">
    <form method="get">
        <input type="text" name="pattern" class="input" placeholder="Szukaj">
        <input type="submit" value="SZUKAJ" class="button">
    </form>
    <div th:each="book : ${books}" class="book">
        <div th:text="${book.title}" class="title"></div>
        <div th:text="${book.author}" class="author"></div>
        <div th:text="'Cena: ' + ${book.price}" class="price"></div>
        <div th:text="'Ilość: ' + ${book.quantity}" class="quantity"></div>
        <div th:text="'ISBN: ' + ${book.isbn}" class="isbn"></div>
        <div>
            <a th:if="${admin}" th:href="@{/book/update/{id}(id=${book.id})}" class="button">EDYTUJ</a>
            <a th:if="${admin}" th:href="@{/book/delete/{id}(id=${book.id})}" class="button">USUŃ</a>
            <a th:if="${logged}" th:href="@{/cart/add/{id}(id=${book.id})}" class="button">DODAJ DO KOSZYKA</a>
        </div>
    </div>
</div>
</body>
</html>