<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Spring Boot - Maven</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/login.css">
    <script src="/login-validator.js"></script>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">
    <form method="post" onsubmit="return validate()">
        <div id="info" th:text="${info}"></div>
        <input type="text" name="login"  id="login" class="input" placeholder="Login">
        <input type="password" name="password" id="password" class="input" placeholder="Hasło">
        <input type="submit" value="ZALOGUJ" class="button">
        <a href="/register" class="button">ZAREJESTRUJ</a>
    </form>
</div>
</body>
</html>