.position{
    width: 100%;
    text-algin: center;
    border: 2px solid #ffe5cc;
    border-radius: 8px;
    margin: 20px auto;
    font-size: 16px;
    cursor: default;
    background-color: #fff2e6;
}

.position div {
    display: inline-block;
}

.title {
    width: 28%;
}

.author {
    width: 25%;
}

.quantity, .price, .sum, .bin {
    width: 10%;
}

.bin a{
    width: 22px;
    height: 22px;
    margin: 5px auto 0px auto;
    cursor: pointer;
}
