body {
font-size: 14px;
font-family: Verdana,  serif;
font-style: normal;
text-align: center;
color: #061029;
  background-image: url('/background.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#logo {
width: 80%;
height: 140px;
margin: 0px auto;
font-size: 120px;
font-weight: 600;
color: #33281e;
text-align: left;
opacity: 0.8;
 text-shadow: -2px 0 #ffefe0, 0 2px #ffefe0, 2px 0 #ffefe0, 0 -2px #ffefe0;
}

#menu {
text-align: center;
height: 60px;
border-top: 2px solid #ffe5cc;
background-color: #fff2e6;
}

.button {
font-weight: 600;
font-size: 16px;
margin: 5px 10px;
text-align: center;
text-decoration: none;
border: 2px solid #ffe5cc;
border-radius: 8px;
padding: 5px 20px;
color: #33281e;
transition: 0.5s;
background-color: #ffefe0;
cursor: pointer;
display: inline-block;
}

.button:hover{
font-size: 16px;
margin: 5px 10px;
text-align: center;
text-decoration: none;
border: 2px solid #ffca9a;
border-radius: 8px;
padding: 5px 20px;
color: #33281e;
background-color: #ffe4cc;
cursor: pointer;
display: inline-block;
}

#content {
width: 80%;
margin: 20px auto;
text-align: center;
background-color: white;
background: rgba(255,255,255,0.8);
}

.input{
font-size: 16px;
margin: 5px 10px;;
border: 2px solid #ffe5cc;
border-radius: 8px;
padding: 5px 20px;
color: #000000;
display: inline-block;
background-color: #fff2e6;
}

.input:hover{
font-size: 16px;
margin: 5px 10px;
border: 2px solid #332d28;
border-radius: 8px;
padding: 5px 20px;
color: #332d28;
display: inline-block;
background-color: #fff2e6;
}